<!doctype html>
<html lang="en"  style="padding: 1%">
    {% include 'head.html' %}
    <body>

        {% include 'navbar.html' %}

        {% block masthead %}
        {% endblock %}

        {% block videos %}
        {% endblock %}

        {% block about %}
        {% endblock %}

        {% block paypal %}
        {% endblock %}



        {% block contact %}
        {%  endblock %}

        {% block footer %}
        {% endblock %}

        {% include 'bootstrapcorejs.html' %}

    </body>

</html>
    








        





