<!doctype html>
<html lang="en">

{% include 'head.html' %}

<h3 class="h3" style="padding: 3%"><a href="{{ url_for('index') }}">Go Home</a></h3>
<body>
    <!-- Videos Section-->
    <section class="container">
            <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Videos</h2>
        <p class="text-center">To more videos in each section, click the <img style="width: 20px; height: 20px;" src={{url_for('static', filename='assets/img/youtube-playlist-logo.jpeg', alt="playlist-icon" )}} /> icon at the top of the video player.</p>


        <!-- playlists display -->
        <div class="row justify-content-center">
            {% for item, playlist in range(playlist_length)|zip(playlist_ids) %}
                <!-- PLAYLIST TITLE -->
                <div class="col-md-6 col-lg-4 mb-5">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <h2>{{ playlist_data[item]['snippet']['title'] }}</h2>
                     </div>
                 </div>


                <!-- PLAYLIST CONTENT -->
                 <div class="col-md-6 col-lg-4 mb-5">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{ playlist }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                 </div>


                <!-- PLAYLIST DESCRIPTION -->
                <div class="col-md-6 col-lg-4 mb-5">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <p>{{ playlist_data[item]['snippet']['localized']['description'] }}</p>
                     </div>
                 </div>

            {% endfor %}
        </div>

    </section>
<h3 class="h3" style="padding: 3%"><a href="{{ url_for('index') }}">Go Back Home</a></h3>
</body>

</html>